.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: sans-serif;
    font-weight: 400;
    color: wheat;
}
body{
    background-color: whitesmoke;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-weight:400 ;
    color: rgba(143, 105, 168, 0.533);
}
.grid img{
    border:2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 90px;
    background-color: white;
    width: 310px;
    font-family: fantasy;
    
}